/* GERAL */

*{
    font-family: 'Shippori Antique', sans-serif;
    }

body{
    background-color: rgb(0, 0, 0);
    margin:0px !important;
    padding: 0px !important;
}

#tudo{
    display: block;
    width: 1366px;
    border: solid rgb(0, 0, 0);
    margin: auto;
}


/* MENU */

#menu ul{
    padding:10px;
    margin:0px;
    list-style: none;
    text-align: center;
    width: 1346px;
    background-color: #ffffff(255, 255, 255, 0.521);
}

#menu ul li{
    display: inline
}

#menu ul li a{
    padding: 2px 10px;
    color: white;
    text-decoration: none;
    font-size: 18px;
}

#menu ul li a:hover{
    color: rgb(255, 217, 0);
}


/* INDEX */

.bandeira{
    display: block;
    float: left;
    margin-left: 15px;
    margin-top: 20px;
    margin-right: 15px;
}

#texto{  
    color: black;
    margin-bottom: 500px;
    margin-top: 40px;
}

#texto p{
    font-size: 20px;
    line-height: 2px;
    margin-left: 15px;
}
